.btnCloseContainer{
  display: flex;
  justify-content: right;
}

.coverPageElemContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 30px 0px;
  flex-direction: column;
  gap: 15px;
}

.coverPageGameImage{
  width: 100%;
  border-radius: 10px;
}

.mat-dialog-content{
  max-height: 78vh ;
  margin-top: 20px;
}

.coverPageDialogContainer{
  display: flex;
}

.iconPlataformContainer{
  display: flex;
  flex-direction: row;
  gap: 13px;
}

.infoGameContainer{
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 30px !important;
}

.tittleGameContainer{
  text-decoration: underline;
}
