.loginContainer{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: url("../../assets/img/fondoJuego.jpg");
}

.cardLogin{
  background-color: aliceblue;
  width: 20%;
  height: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 20px;
  gap: 10px;
}

mat-form-field{
  width: 250px;
}

.nav-top {
  height: 6vh;
  background-color: #226CE0;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 99;
}

.spinnerContainer{
  display: none;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgb(135, 130, 130,0.5);
  z-index: 99;
}

.registerText{
  color: black;
  text-decoration: none;
}

.registerTextContainer{
  margin-top: 10px;
}

.registerText:hover{
  font-weight: bold;
}

@media (max-width: 1500px){
  .cardLogin{
    width: 25%;
    height: 393px;
  }
}

@media (max-width: 1100px){
  .cardLogin{
    width: 35%;
  }
}

@media (max-width: 750px){
  .cardLogin{
    width: 45%;
  }
}

@media (max-width: 600px){
  .cardLogin{
    width: 60%;
  }
}

