.example-spacer {
  flex: 1 1 auto;
}

mat-toolbar{
  height: 6vh;
  background: transparent;
}

.titulo{
  font-size: 19px;
}

.separator{
  margin-left: 10px;
  cursor: pointer;
  color: white;
}

.separator:hover{
  color: black;
}

.separator[submenu="s"]{
  margin-left: 30px;
}

.icon{
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.icon:hover{
  background-color: azure;
}

.accountContainer{
  display: none;
  position: absolute;
  top: 70px;
  right: 10px;
  background-color: #E8EEF2;
  width: 200px;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 10px;
  gap: 5px;
}

.accountContainer div span[texto]{
  cursor: pointer;
}

.accountContainer div span:hover[texto]{
  color: blue;
  font-weight: bold;
}

.welcomeText{
  white-space: nowrap;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}
