<mat-toolbar>
  <span class="separator titulo" routerLink="/">GameshopSergio</span>
  <span class="separator" submenu="s" name="Game" routerLink="/">Game</span>
  <span class="example-spacer"></span>
  <button mat-icon-button class="icon" (click)="showContainerAccount()">
    <mat-icon>account_circle</mat-icon>
  </button>
  <div class="accountContainer">
    <div *ngIf="!authenticated">
      <span texto routerLink="/login">Iniciar sesion</span>
    </div>
    <div *ngIf="!authenticated">
      <span texto routerLink="/register">Registrarse</span>
    </div>
    <div class="welcomeText" *ngIf="authenticated">
      <span>¡Bienvenid@ {{user?.username}}!</span>
    </div>
    <div *ngIf="authenticated">
      <span texto (click)="logout()">Cerrar sesión</span>
    </div>
  </div>
</mat-toolbar>
