.gameContainer {
  min-height: 100%;
  background: url(../../assets/img/fondoJuego.jpg);
  background-repeat: around;
  font-family: Helvetica;
}

.nav-top {
  height: 6vh;
  background-color: #226CE0;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 99;
}

.gameCards {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.filters {
  width: 35%;
  height: 7vh;
  background-color: #82816D;
  border-radius: 20px;
  margin-bottom: 20px;
  margin-top: 4%;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 50px;
  justify-content: center;
}

.game_gameCardsContainer {
  width: 90%;
  min-height: 81vh;
  background-color: #82816D;
  border-radius: 20px;
  padding: 20px;
  margin-bottom: 20px;
}

.example-additional-selection {
  opacity: 0.75;
  font-size: 0.75em;
}

.selectPlataform {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: 12px;
  border-radius: 10px;
  color: white;
  font-weight: bold;
  gap: 10px;
}

filterSelect {
  background-color: #A7A7A9;
  border-radius: 10px;
  border-color: #A7A7A9;
  color: white;
}

#filterSelect option {
  background-color: aliceblue;
  color: black;
}

#filterSelect option[disabled] {
  background-color: gray;
  color: rebeccapurple;
}

.inputSmall {
  width: 100%;
  background-color: transparent;
  box-shadow: none;
  border-radius: 20px;
  border: none;
}

.containerSearch {
  display: flex;
  flex-direction: row;
  cursor: pointer;
  width: 250px;
  background-color: #fff;
  border-radius: 20px;
}

.addBoxShadow {
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(0, 112, 238, 0.6);
}

.iconContainer {
  position: relative;
  right: 8px;
  background-color: transparent;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-left: none;
  height: 35px;
  margin-top: 1px;
}

.containerInput {
  width: 250px;
}

.card {
  width: 30%;
  height: 45%;
}

.img_coverPage {
  width: 100%;
  border-radius: 10px;
}

.tittleAndPriceContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.tittleContainer {
  width: 90%;
  padding: 0 5px;
}

.plataformContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70%;
}

.img_plataformIcon {
  width: 20px;
  margin-right: 7px;
  padding-bottom: 5px;
}

.plataformIconsContainer{
  display: inline-block;
}

.centerContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}

@media (max-width: 1700px){
  .filters{
    width: 45%;
    margin-top: 5%;
  }
}

@media (max-width: 1300px){
  .filters{
    width: 70%;
    margin-top: 7%;
  }
}

@media (max-width: 950px){
  .filters{
    margin-top: 8%;
  }
}

@media (max-width: 800px){
  .filters{
    width: 90%;
    margin-top: 10%;
  }
}

@media (max-width: 650px){
  .containerInput {
    width: 150px;
  }
  .containerSearch{
    width: 150px;
  }
  #filterSelect{
    width: 60%;
  }
  .filters{
    margin-top: 14%;
  }
}

@media (max-width: 500px){
  .containerInput {
    width: 135px;
  }
  .containerSearch{
    width: 135px;
  }
  #filterSelect{
    width: 50%;
  }
  .filters{
    gap: 5px;
  }
  .selectPlataform{
    font-size: 14px;
    margin-left: 0;
    gap: 5px;
  }
}

