.icon{
  width: 150px;
}

.iconSuccessContainer{
  display: flex;
  align-items: center;
  justify-content: center;
}

.textRegister{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  color: red;
}
