.card {
  width: 31%;
  height: 45%;
  border: none;
  background-color: #C49E85;
  cursor: pointer;
}

.card:hover{
  background-color: #FFD6AF;
}

.img_coverPage {
  width: 100%;
  border-radius: 10px;
}

.tittleAndPriceContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.tittleContainer {
  width: 90%;
  padding: 0 5px;
}

.plataformContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70%;
  margin-top: 15px;
}

.img_plataformIcon {
  width: 20px;
  margin-right: 7px;
  padding-bottom: 5px;
}

.plataformIconsContainer{
  display: inline-block;
}

.gameCard_gameCardsContainer{
  height: 100%;
  display: flex;
  justify-content: left;
  align-items: baseline;
  gap: 40px;
  flex-wrap: wrap;
  position: relative;
  left: 0.9%;
}

.starIconContainer{
  position: relative;
  display: flex;
  justify-content: end;
}

@media (max-width: 1331px){
  .card{
    width: 47%;
  }
}

@media (max-width: 801px){
  .gameCard_gameCardsContainer{
    justify-content: center;
    left: 0;
  }
}

@media (max-width: 800px){
  .card{
    width: 90%;
  }
}
