.registerContainer{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: #37393A;
}

.cardRegister{
  background-color: aliceblue;
  width: 20%;
  height: 450px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 20px;
  gap: 10px;
}

mat-form-field{
  width: 250px;
}

.nav-top {
  height: 6vh;
  background-color: #226CE0;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 99;
}

.loginText{
  color: black;
  text-decoration: none;
}

.loginTextContainer{
  margin-top: 10px;
}

.loginText:hover{
  font-weight: bold;
}

.spinnerContainer{
  display: none;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgb(135, 130, 130,0.5);
  z-index: 99;
}

#btn:hover{
  font-size: 15px;
}

@media (max-width: 1500px){
  .cardRegister{
    width: 26%;
  }
}

@media (max-width: 1100px){
  .cardRegister{
    width: 34%;
  }
}

@media (max-width: 750px){
  .cardRegister{
    width: 46%;
  }
}

@media (max-width: 600px){
  .cardRegister{
    width: 60%;
  }
}
