<div class="registerContainer">
  <nav class="nav-top">
    <app-nav></app-nav>
  </nav>
  <form class="cardRegister" [formGroup]="profileForm">
    <h1>Registrarse</h1>
    <div>
      <mat-form-field class="example-form-field" appearance="fill">
        <mat-label>Usuario</mat-label>
        <input matInput type="text" name="user" formControlName="username">
        <button *ngIf="user.value" matSuffix mat-icon-button aria-label="Clear" (click)="user.setValue('')">
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field class="example-form-field" appearance="fill">
        <mat-label>Contraseña</mat-label>
        <input matInput type="password" name="password" formControlName="password">
        <button *ngIf="pass.value" matSuffix mat-icon-button aria-label="Clear" (click)="pass.setValue('')">
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field class="example-form-field" appearance="fill">
        <mat-label>Confirmar Contraseña</mat-label>
        <input matInput type="password" name="passwordConfirm" formControlName="passwordConfirm">
        <button *ngIf="passConfirm.value" matSuffix mat-icon-button aria-label="Clear" (click)="passConfirm.setValue('')">
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>
    </div>
    <div (click)="signUp()">
      <button id="btn" mat-raised-button color="primary">Registrarse</button>
    </div>
    <div class="loginTextContainer">
      <a routerLink="/login" class="loginText">Si ya tienes cuenta, logueate aquí</a>
    </div>
  </form>
</div>
<div class="spinnerContainer">
  <app-spinner></app-spinner>
</div>
