.registerContainer{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: url("../../assets/img/fondoJuego.jpg");
}

.cardRegister{
  background-color: aliceblue;
  width: 20%;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 20px;
}

mat-form-field{
  width: 250px;
}

.nav-top {
  height: 6vh;
  background-color: #226CE0;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 99;
}
